<IfModule mod_rewrite.c>

RewriteEngine on
ErrorDocument 404 http://localhost/proyect-virtual-shop/Error/index
 
RewriteCond %(SCRIPT_FILENAME) !-d
RewriteCond %(SCRIPT_FILENAME) !-f
 
RewriteRule ^(.)/(.) index.php?controller=$1&method=$2
 
</IfModule>